<!doctype html>
<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
		<link rel="stylesheet" type="text/css" href="app.css">
		<script src="app.js"></script>
		<script src="myController.js"></script>
	</head>

	<body>
		<div ng-app="myApp">

			<div ng-controller="myController">

				<input ng-model="todo">
				<div>
					{{ todo }}
				</div>

				<button ng-click="addToList();">Add to list</button>

				<div>My Todo List</div>

				<div ng-repeat="item in list">
					{{ item }}
				</div>

			</div>	

		</div>	
	</body>
</html>
